body {
    font-size: smaller;
    font-family: sans-serif;
}

.link {
    cursor: pointer;
    padding: 5px;
    color: black;
    text-decoration: none;
    display: block;
}

.link:hover {
    background-color: blue;
    border-radius: 5px;
    color: white;
}
